<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Pose Plus is a free open source app for gesture drawing. Make the most out of your image references with advanced features like auto zoom, collections, and much more!">
  <title>{{ page.title }}</title>

  <meta property="og:title" content="{{page.title}}">
  <meta property="og:site_name" content="Pose Plus">
  <meta property="og:url" content="https://pose.plus">
  <meta property="og:description" content="Pose Plus is a free open source app for gesture drawing. Make the most out of your image references with advanced features like auto zoom, collections, and much more!">
  <meta property="og:type" content="website">
  <meta property="og:image" content="res/OG_Banner.jpg">

  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <nav class="nav">
    <a href="/" class="nav__link"> <img src="res/IconLogo.svg" class="nav__icon" alt="Pose Plus Home"/> </a>
    <a href="/FAQ" class="nav__link">FAQ</a>    
    <a href="/Manual" class="nav__link">Manual</a>
    <a href="/Resources" class="nav__link">Resources</a>
    <a href="https://github.com/CJSwitz/pose-plus" class="nav__link"> <img src="res/GitHub-Mark.svg" class="nav__icon" alt="GitHub"/> </a>
    <span class="nav__item">
      <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'B0B661DQ3');kofiwidget2.draw();</script> 
    </span>
  </nav>

  <main class="content">
    {{ content }}
  </main>
  <footer class="footer">
    <span class="footer__text">
    <span>© 2022 Connor Switzer</span>
    <span><a href="https://github.com/CJSwitz/www.pose.plus">Website GitHub</a></span>
    </span>
  </footer>
</body>

</html>


